/* Custom page CSS
-------------------------------------------------- */


main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

nav ul li a:hover{
color: white !important;
}

.navbar{ /*Sombra no Menu Horizontal*/
max-height: 75px;
box-shadow: 6px 6px 10px -2px rgba(0, 0, 0, 0.4);
}

.dropdown-menu {
background-color: #343a40;
border: 0;
border-radius: 0;
box-shadow: 6px 6px 10px -2px rgba(0, 0, 0, 0.4);
}

.nav-item:hover>.dropdown-menu {
display: block;
}

.navbar div ul li a:hover{
background-color: black;
}

.dropdown-item:focus{
background-color: #343a40; 
}
.dropdown-item{
font-size: 1rem; 
color: white !important;
}
